<mat-stepper linear>
  <mat-step label="Choose A Use Case" completed>
    <mat-radio-group [(ngModel)]="use_case">

      <mat-radio-button value="indoor" color="primary">Indoor Use Case</mat-radio-button>
      <mat-radio-button value="outdoor" color="primary">Outdoor Use Case</mat-radio-button>
    </mat-radio-group>

    <mat-divider></mat-divider>
    <div class="options">
      <mat-checkbox [(ngModel)]="thrVsCommRadius" color="primary">
        Calculate Throughput vs Communication Radius
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="effVsCommRadius" color="primary">
        Calculate Energy Efficiency vs Communication Radius
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="effVsTxPower" color="primary">
        Calculate Energy Efficiency vs Transmit Power (dBm)
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="latVsCommRadius" color="primary">
        Calculate Latency vs Communication Radius
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="latVsTaskSize" color="primary">
        Calculate Latency vs Task size
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="selectAll" (change)="onSelectAllChange()" color="primary">
        Select All
      </mat-checkbox>
    </div>
    <mat-divider></mat-divider>

    <button mat-raised-button matStepperNext type="button"> Next </button>
  </mat-step>



  <mat-step label="Choose Parameters" completed>
    <mat-card><mat-card-content class="Parameters">
        <div>
          Task Size: {{task_size_value}} kb
          <mat-slider min="1" max="10" step="1" [discrete]="true"> <input matSliderThumb [(ngModel)]="task_size_value">
          </mat-slider>
        </div>
        
        <div>
          Bandwidth: {{bandwidth_value}} MHz
          <mat-slider min="1" max="10" step="1" [discrete]="true"><input matSliderThumb
              [(ngModel)]="bandwidth_value"></mat-slider>
          
        </div>
        <div>
          Speed: {{speed_value}} mps
          <mat-slider min="0" max="20" step="1" [discrete]="true"><input matSliderThumb [(ngModel)]="speed_value">
          </mat-slider>
       
        </div>
        <div>
          Hops: {{hops_value}}
          <mat-slider min="1" max="10" step="1" [discrete]="true"><input matSliderThumb
              [(ngModel)]="hops_value"></mat-slider>
        
        </div>
        <div>
          Communication Radius: {{comm_rad_value}} m
          <mat-slider min="50" max="200" step="50" [discrete]="true"><input matSliderThumb [(ngModel)]="comm_rad_value">
          </mat-slider>
     
        </div>
        <div>
          Number of Samples: {{num_sam_value}}
          <mat-slider min="1" max="100" step="1" [discrete]="true"><input matSliderThumb [(ngModel)]="num_sam_value">
          </mat-slider>
        </div>
   
      </mat-card-content></mat-card>
      <div class="button">
        <button mat-raised-button matStepperPrevious type="button"> Back </button>
        <button mat-raised-button matStepperNext type="button"> Next </button>
      </div>


  </mat-step>


  <mat-step label="Provide Your Email" completed>
    <div class="email">
    <form #emailForm="ngForm" (ngSubmit)="submit_inputs_data()">
      <div>
      <label for="email"> Key in Your Email : </label>
      <input type="text" name="email" id="email" [(ngModel)]="email" required>
    </div>
      <!-- <h1>{{email}}</h1> -->
       <div class="button">
      <button mat-raised-button matStepperPrevious type="button"> Back </button>
      <button mat-raised-button type="submit" [disabled]="!emailForm.valid">Submit</button>
    </div>
    </form>
  </div>
  </mat-step>

</mat-stepper>

<h1>{{add_inputs_data_reponse|json}}</h1>