<div class="background-container c1">
  <!-- banner -->
  <header class="banner">
    <img src="assets\pictures\artc-logo.png" id="logo" alt="ARTC logo">
    <h1>Wireless Performance Analysis</h1>

      <!-- navbar -->
  <!-- <nav class="navbar"> -->
  
    <section>
    <div class="example-button-row">
      <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
      <a mat-raised-button class="mat-raised-button" routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-raised-button class="mat-raised-button" routerLink="/about" routerLinkActive="active">About</a>
      <a mat-raised-button class="mat-raised-button" routerLink="/details" routerLinkActive="active">Details</a>
    </div>
  </section>

  <!-- </nav> -->


  </header>



  <!-- main-content -->
  <main class="main-content">
    <!-- <h1>maincontent</h1>
   
    <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
    <div class="main">
      <div class="child1"> <div class="child2"><router-outlet></router-outlet> </div></div>

      <!-- <app-about></app-about>
      <router-outlet>sfsfsdfs</router-outlet>  -->
    
  </div>
  </main>

  <!-- footer  -->
  <footer class="footer">
    <p>&copy; 2024 My Application. All rights reserved.</p>
  </footer>
  
</div>